:root {
 --dark-red: #930101;
 --dark-grey: #303030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#description-scroll-marker,
#faq-scroll-marker,
#create-scroll-marker {
    position: relative;
    bottom: 64px;
}

.nav-bar {
    position: fixed;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    transition: background-color 0.5s ease-in-out;
}

.nav-bar.scrolled {
    background-color: rgba(0,0,0,0.7);
}

.nav-item a {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding: 0 12px;
    margin: 0 8px;
}

.nav-item a:hover {
    border-bottom: 1px solid #ffffff;
}

header {
    background-image: url('./images/header-bg.jpg');
    height: 700px;
    width: 100%;
    background-position: center;
}

.header-bg-filter {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-content {
    color: #ffffff;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 560px;
}

.title, .subtitle {
    font-family: 'Dancing Script', cursive; 
}

.title {
    font-size: 78px;
}

.subtitle {
    width: 600px;
    font-weight: 100;
    font-size: 36px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: 14px;
}

.action-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
}

.action-btn {
    height: 54px;
    font-size: 20px;
    transition: all 0.2s ease;
}

.learn-more-btn {
    border: solid 1px #ffffff;
}

.learn-more-btn:hover {
    background-color: #ffffff;
    color: var(--dark-grey,#303030);
}

.create-now-btn {
    background-color: #c40916;
}

.create-now-btn:hover {
    background-color: #f50716;
}

.description {
    background-color: var(--dark-red,#930101);
    color: #ffffff;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}

.description-title {
    font-size: 46px;
    font-weight: 100;
}

.description-content {
    align-self: center;
    font-weight: 400;
    max-width: 750px;
    font-size: 22px;
    line-height: 2.5em;
}

.faq {
    text-align: center;
}

.faq-item {
    padding: 2em 0;
}

.faq h1 {
    color: var(--dark-red,#930101);
    font-size: 30px;
    font-weight: 300;
    margin: .5em 0;
}

.faq p {
    max-width: 625px;
    margin: auto;
    line-height: 34px;
    font-size: 16px;
    color: var(--dark-grey,#303030);
    padding: 1em 0;
}

.separating-img {
    height:300px;
    background-image: url('./images/embroidery-hoop.jpg');
    background-position: 50% 30%;
    border-top: 1px solid var(--dark-red,#930101);
    border-bottom: 1px solid var(--dark-red,#930101);
}

.create h1 {
    color: var(--dark-red,#930101);
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1.7em;
    font-size: 46px;
    font-weight: 100;
    letter-spacing: -1px;
}

.create-btn {
    display: block;
    margin: 0 auto 2em auto;
    padding: 0.7em;
    background-color: #ffffff;
    border: 1px solid var(--dark-red,#930101);
    color: var(--dark-red,#930101);
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.create-btn:hover {
    color: #ffffff;
    background-color: var(--dark-red,#930101);
}

#image-input {
    display: none;
}

.preview-section {
    display: none;
    border-top: 1px solid var(--dark-red,#930101);
    border-bottom: 1px solid var(--dark-red,#930101);
}

.previev-section-header {
    color: var(--dark-red,#930101);
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 36px;
    font-weight: 200;
}

.preview-container {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.image-detail {
    height: 100px;
    min-width: 400px;
    padding: 1rem;
}

.image-detail-header {
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-red,#930101);
    padding-bottom: 1rem;
}

.bold {
    font-size: 16px;
    font-weight: 600;
}

.preview-image {
    height: 100%;
    width: auto;
    border: 1px solid var(--dark-grey,#303030);
}

.stich-size-slider {
    width: 85%;
}

.create-pattern-btn, .download-pattern-btn {
    display: block;
    margin: 0 auto 2em auto;
    padding: 0.7em;
    background-color: var(--dark-red,#930101);
    border: none;
    color: #ffffff;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.create-pattern-btn:hover, .download-pattern-btn:hover {
    background-color: #c40916;
}

.error-message {
    display: none;
    background-color: var(--dark-red,#930101);
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
    font-size: 36px;
    font-weight: 200;
}

.pattern-section {
    display: none;
}

.pattern-section-header {
    color: var(--dark-red,#930101);
    text-align: center;
    margin: 3rem auto;
    font-size: 46px;
    font-weight: 100;
    letter-spacing: -1px;
}

.embroidery-canvas {
    display: block;
    margin: 0 auto 3rem auto;
    max-width: 80%;
}