:root {
 --dark-red: #930101;
 --dark-grey: #303030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#description-scroll-marker,
#faq-scroll-marker,
#create-scroll-marker {
    position: relative;
    bottom: 64px;
}

.menu-icon {
    display: none;
}

.nav-bar {
    position: fixed;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    transition: background-color 0.5s ease-in-out;
}

.nav-bar.scrolled {
    background-color: rgba(0,0,0,0.7);
}

.nav-item a {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding: 0 12px;
    margin: 0 8px;
}

.nav-item a:hover {
    border-bottom: 1px solid #ffffff;
}

header {
    background-image: url('./images/header-bg.jpg');
    height: 80vh;
    width: 100%;
    background-position: center;
}

.header-bg-filter {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-content {
    color: #ffffff;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 560px;
}

.title, .subtitle {
    font-family: 'Dancing Script', cursive; 
}

.title {
    font-size: 78px;
}

.subtitle {
    width: 600px;
    font-weight: 100;
    font-size: 36px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: 14px;
}

.action-buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
}

.action-btn {
    height: 54px;
    font-size: 20px;
    transition: all 0.2s ease;
}

.learn-more-btn {
    border: solid 1px #ffffff;
}

.learn-more-btn:hover {
    background-color: #ffffff;
    color: var(--dark-grey,#303030);
}

.create-now-btn {
    background-color: #c40916;
}

.create-now-btn:hover {
    background-color: #f50716;
}

.description {
    background-color: var(--dark-red,#930101);
    color: #ffffff;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}

.description-title {
    font-size: 46px;
    font-weight: 100;
}

.description-content {
    align-self: center;
    font-weight: 400;
    max-width: 750px;
    font-size: 22px;
    line-height: 2.5em;
}

.faq {
    text-align: center;
}

.faq-item {
    padding: 2em 0;
}

.faq h1 {
    color: var(--dark-red,#930101);
    font-size: 30px;
    font-weight: 300;
    margin: .5em 0;
}

.faq p {
    max-width: 625px;
    margin: auto;
    line-height: 34px;
    font-size: 16px;
    color: var(--dark-grey,#303030);
    padding: 1em 0;
}

.separating-img {
    height:300px;
    background-image: url('./images/embroidery-hoop.jpg');
    background-position: 50% 30%;
    border-top: 1px solid var(--dark-red,#930101);
    border-bottom: 1px solid var(--dark-red,#930101);
}

.create h1 {
    color: var(--dark-red,#930101);
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1.7em;
    font-size: 46px;
    font-weight: 100;
    letter-spacing: -1px;
}

.create-btn {
    display: block;
    margin: 0 auto 2em auto;
    padding: 0.7em;
    background-color: #ffffff;
    border: 1px solid var(--dark-red,#930101);
    color: var(--dark-red,#930101);
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.create-btn:hover {
    color: #ffffff;
    background-color: var(--dark-red,#930101);
}

#image-input {
    display: none;
}

.preview-section {
    display: none;
    border-top: 1px solid var(--dark-red,#930101);
    border-bottom: 1px solid var(--dark-red,#930101);
}

.previev-section-header {
    color: var(--dark-red,#930101);
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 36px;
    font-weight: 200;
}

.preview-container {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.image-detail {
    height: 100px;
    min-width: 400px;
    padding: 1rem;
}

.image-detail-header {
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-red,#930101);
    padding-bottom: 1rem;
}

.bold {
    font-size: 16px;
    font-weight: 600;
}

.preview-image {
    height: 100%;
    width: auto;
    border: 1px solid var(--dark-grey,#303030);
}

.stich-size-slider {
    width: 85%;
}

.create-pattern-btn, .download-pattern-btn {
    display: block;
    margin: 0 auto 2em auto;
    padding: 0.7em;
    background-color: var(--dark-red,#930101);
    border: none;
    color: #ffffff;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.create-pattern-btn:hover, .download-pattern-btn:hover {
    background-color: #c40916;
}

.error-message {
    display: none;
    background-color: var(--dark-red,#930101);
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
    font-size: 36px;
    font-weight: 200;
}

.pattern-section {
    display: none;
}

.pattern-section-header {
    color: var(--dark-red,#930101);
    text-align: center;
    margin: 3rem auto;
    font-size: 46px;
    font-weight: 100;
    letter-spacing: -1px;
}

.embroidery-canvas {
    display: block;
    margin: 0 auto 3rem auto;
    max-width: 80%;
}

@media (max-width: 1050px) {

    .header-bg-filter {
        justify-content: center;
    }

    .description-title {
        font-size: 38px;
        line-height: 64px;
        padding: 0 48px;
    }

    .description-content {
        max-width: 100%;
        font-size: 20px;
        padding: 0 48px;
    }

    .learn-more-btn {
        background-color: #ffffff;
        color: var(--dark-grey,#303030);
    }

    .faq h1 {
        font-size: 30px;
        margin: .5em .5em;
        line-height: 48px;
    }

    .preview-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .image-details-container {
        margin-bottom: 2rem;
    }

    .image-detail {
        height: auto;
    }

    .image-detail-header {
        padding-bottom: 0.5rem;
    }

    .preview-image {
        height: 300px;
        width: auto;
    }

    .embroidery-canvas {
        max-width: 100%;
    }

}

@media (max-width: 515px) {

    #description-scroll-marker,
    #faq-scroll-marker,
    #create-scroll-marker {
        position: relative;
        bottom: 0;
    }

    .menu-icon {
        display: block;
        position: fixed;
        cursor: pointer;
        height: 64px;
        width: 64px;
        right: 16px;
        top: 16px;
        background-color: rgba(0,0,0,.5);
        z-index: 100;
        transition: transform .3s .2s ease-in-out;
    }

    .menu-icon-container {
        height: 100%;
        position: relative;
    }

    .menu-icon-bar {
        position:absolute;
        height: 3px;
        width: 70%;
        transform: translateY(-50%);
        background-color: #fff;
        top: 50%;
        left: 15%;
        transition: background-color .2s .1s ease-in-out;
    }

    .menu-icon-bar::before, .menu-icon-bar::after {
        position: absolute;
        content:'';
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .menu-icon-bar::before {
        transform: translateY(-16px);
        transition: transform .2s .2s ease-in-out;
    }

    .menu-icon-bar::after {
        transform: translateY(16px);
        transition: transform .2s .2s ease-in-out;
    }

    .menu-icon.active {
        transform: translateY(calc(256px));
    }

    .menu-icon.active .menu-icon-bar {
        background-color: rgba(0,0,0,0);
    }

    .menu-icon.active .menu-icon-bar::before {
        transform: rotate(-45deg);
    }

    .menu-icon.active .menu-icon-bar::after {
        transform: rotate(45deg);
    }

    .nav-bar {
        position: fixed;
        display: block;
        height: auto;
        padding: 0;
        background-color: rgba(0,0,0,0.7);
        transform: translateY(-100%);
        transition: transform .3s .2s ease-in-out;
    }

    .nav-bar.active {
        transform: translateY(0);
    }

    .nav-item {
        width: 100%;
        border-bottom: 1px dashed rgba(255,255,255,0.5);
    }

    .nav-item a {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 64px;
    }

    .nav-item a:hover {
        border-bottom: none;
    }

    header {
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: 1400px;
    }
    
    .header-bg-filter {
        justify-content: center;
    }
    
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 600px;
    }
    
    .title {
        font-size: 12vw;
    }
    
    .subtitle {
        width: 100%;
        font-weight: 100;
        font-size: 9vw;
        line-height: 52px;
        text-align: center;
    }
    
    a {
        padding: 14px;
    }
    
    .action-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
    }
    
    .action-btn {
        height: 54px;
        font-size: 20px;
        width: 80%;
        text-align: center;
    }

    .description {
        height: auto;
        display: block;
        padding: 36px 0;
    }
    
    .description-title {
        font-size: max(9vw,22px);
        font-weight: 100;
        padding: 0;
    }
    
    .description-content {
        max-width: 100%;
        font-size: 18px;
        margin-top: 36px;
        padding: 0 12px;
    }

    .faq p {
        max-width: 85%;
        margin: auto;
        line-height: 34px;
        font-size: 18px;
    }

    .separating-img {
        height: 150px;
        background-size: 700px;
    }

    .create h1 {
        font-size: 36px;
        line-height: 48px;
        width: 96vw;
    }
}